/* Responsive Design for other devices */
/* For mobile devices */
@media screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }
  .secondary_heading {
    font-size: 1.25rem;
  }
  body {
    margin: 20px;
  }
  header {
    margin-top: 20px;
  }

  .menu_container {
    display: none;
  }
  .nav_bars {
    display: contents;
  }
  nav {
    justify-content: space-between;
  }
  .icon_container {
    width: 75%;
    align-items: center;
  }
  .icon_container p {
    font-size: 1.5rem;
  }
  .icon_container img {
    width: 40px;
    height: 30px;
  }
  .primary_heading {
    font-size: 2rem;
  }
  .banner_image_content p {
    padding: 0 20px;
    margin: 25px 0;
  }
  .banner_image_content h1 {
    margin: 30px 0;
    font-size: 1.75rem;
  }
  .banner_inputs {
    flex-direction: column;
    margin: 20px;
  }
  .banner_input {
    width: auto;
  }

  /* tour section */
  .tour_section_container {
    flex-direction: column;
    margin: 0;
    gap: 0;
  }
  .tour_message_contaienr {
    width: 100%;
  }
  .tour_message_contaienr h1 {
    font-size: 1.25rem;
  }
  .tour_button {
    margin-top: 20px;
    padding: 12px 35px 12px 35px;
  }
  .tour_image {
    width: 100%;
    margin: 20px 0;
  }
  /* destination section */
  .destination_section_container {
    margin: 10px 0;
    width: 100%;
  }
  .first_row,
  .second_row,
  .third_row {
    flex-direction: column;
    gap: 5px;
    margin: 5px 0;
  }
  .single_destination_image img {
    width: 100%;
    height: 175px;
  }
  /* Choose Us section started */
  .chooseUs_section_container {
    margin: 10px 0;
  }
  .chooseUs_section_container p {
    margin: 20px 0;
  }
  .chooseUs_cards_container {
    flex-direction: column;
    gap: 0;
  }
  .chooseUs_single_card {
    padding: 25px 35px;
  }
  .bottom_card {
    padding: 20px 15px;
  }
  /* Newsletter Section */
  .newsletter_section_container {
    margin: 10px 0;
    flex-direction: column;
  }
  .newsletter_image_contaienr img {
    width: 100%;
    height: 250px;
  }
  .newsletter_badge {
    max-width: 180px;
    bottom: 28px;
    right: 4px;
    transform: rotate(-19.628deg);
    padding: 15px 20px;
    text-align: center;
    border-radius: 10px;
  }
  .newsletter_badge h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .newsletter_badge h1 {
    font-size: 1.25rem;
  }
  /* footer section started */
  .footer_contaienr {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer_icon_container img {
    width: 30px;
    height: 25px;
  }
  .footer_icon_container p {
    font-size: 1.5rem;
  }
  .footer_icon_container p > .extra_style {
    font-size: 1.5rem;
  }
  .rights_message {
    margin-top: 10px;
  }
}

/* For Tablet devices */
@media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    margin: 20px 50px;
  }
  header {
    margin-top: 20px;
  }

  .menu_container {
    display: none;
  }
  .nav_bars {
    display: contents;
  }
  nav {
    justify-content: space-between;
  }
}
